h1 {
  font-family: "Passion One" ,sans-serif;
  font-size: 40px;
  color: #aE4FF3;
  text-align: center;
}

header {
  background-color: #000000;
  background-image:url("Galaxy.jpg");
  padding: 20vw 2em 6em 2em;
  background-position:top right;
  background-size: cover;
}
h2{
  font-family: "passion one";
}
p {
  font-family: work sans;
}
